.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.header-text{
    text-align: center;
}

.header-img{
    max-width: 4rem;
    padding-left: 2vw;
}
