.textArea-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    margin: auto;
    width: 60vw;
    max-width: 750px;
    min-width: 260px;
}

.text-area{
    width: 100% !important;
    font-size: 12pt;
}

.input{
    padding-top: 2vw;
}

.button-container{
    display: flex;
    justify-content: right;
}

.add-button{
    margin-top: 3vw !important;
}
